<div class="show">
    <div class="playPauseExample slideShow">
      <ul class="slides">
        <li class="slide">
          <%= image_tag "img1.jpg", :alt => "", :width => "978",  :height => "526" %>
          <div class="slogan">
            <%= image_tag "slogan.png", :alt => "" %>"Variety of Items, Global Representatives to fulfill your Order.
          </div>
        </li>
        <li class="slide">
          <%= image_tag "img2.jpg", :alt => "", :width => "978",  :height => "526" %>
          <div class="slogan">
            <%= image_tag "slogan.png", :alt => "" %>"Variety of Items, Global Representatives to fulfill your Order.
          </div>
        </li>
        <li class="slide">
          <%= image_tag "img3.jpg", :alt => "", :width => "978",  :height => "526" %>
          <div class="slogan">
            <%= image_tag "slogan.png", :alt => "" %>Variety of Items, Global Representatives to fulfill your Order.
          </div>
        </li>
        <li class="slide">
          <%= image_tag "img4.jpg", :alt => "", :width => "978",  :height => "526" %>
          <div class="slogan">
            <%= image_tag "slogan.png", :alt => "" %>Variety of Items, Global Representatives to fulfill your Order.
          </div>
        </li>
      </ul>
      <a href="#" class="togglePlayback">Stop</a>
      <div class="wrapper">
        <ul class="navigation" id="thumbNav">
          <li><a href="javascript:" class="page">&nbsp;</a></li>
          <li><a href="javascript:" class="page">&nbsp;</a></li>
          <li><a href="javascript:" class="page">&nbsp;</a></li>
          <li><a href="javascript:" class="page">&nbsp;</a></li>
        </ul>
      </div>
    </div>
</div>