<div class="anythingSlider2 banners">
	<div class="wrapper">
		<ul>
			<li>
				<a href="#"><%= image_tag "banner1.jpg" %></a><a href="#"><%= image_tag "banner2.jpg" %></a><a href="#"><%= image_tag "banner3.jpg" %></a><a href="#"><%= image_tag "banner4.jpg" %></a><a href="#">y<%= image_tag "banner5.jpg" %></a>
			</li>
		</ul>
	</div>
</div>