<h1>Listing accounts</h1>

<table>
  <tr>
    <th>Fname</th>
    <th>Mname</th>
    <th>Lname</th>
    <th>Title</th>
    <th>Phone</th>
    <th>Fax</th>
    <th>Email</th>
    <th>Address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @accounts.each do |account| %>
  <tr>
    <td><%= account.fname %></td>
    <td><%= account.mname %></td>
    <td><%= account.lname %></td>
    <td><%= account.title %></td>
    <td><%= account.phone %></td>
    <td><%= account.fax %></td>
    <td><%= account.email %></td>
    <td><%= account.address %></td>
    <td><%= link_to 'Show', account %></td>
    <td><%= link_to 'Edit', edit_account_path(account) %></td>
    <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Account', new_account_path %>
